// Define variables for your color scheme

// For example:
$red: #C90025;
$rosa: #E76685;
$blue: #003E65;
$gray: #466675;
$brown: #470517;
$background-color: #FFFFFF;

$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$light-gray: #F4F4F4;
