<div class="about-me steckbrief-card card">
  <h4>Angaben zu meiner Person</h4>

  <p class="tag">Geboren am:</p>
  <p class="tag-info">16. November 1976 in Altdorf (UR), Schweiz</p>

  <p class="tag">Nationalität:</p>
  <p class="tag-info">Schweizer</p>

  <p class="tag">Wohnort:</p>
  <p class="tag-info">Zürich</p>

  <p class="tag">Grösse:</p>
  <p class="tag-info">180 cm</p>

  <p class="tag">Konfektion:</p>
  <p class="tag-info">52</p>

  <p class="tag">Schuhgrösse:</p>
  <p class="tag-info">42</p>

  <p class="tag">Haarfarbe:</p>
  <p class="tag-info">Braun</p>

  <p class="tag">Augenfarbe:</p>
  <p class="tag-info">Braun-Grün</p>

  <p class="tag">Stimmlage:</p>
  <p class="tag-info">Hoher Bariton</p>

  <p class="tag">Stimmfach:</p>
  <p class="tag-info">Musical, Chanson, Pop, Operette</p>

  <p class="tag">Sprachkenntnisse:</p>
  <p class="tag-info">Deutsch (Muttersprache), Englisch (fliessend), Französisch (solide)</p>

  <p class="tag">CH-Dialekte:</p>
  <p class="tag-info">Urner, Zürcher</p>

  <p class="tag">Weitere CH-Dialekte mit Bühnenerfahrung:</p>
  <p class="tag-info">Berner, Bündner, Basler</p>

  <p class="tag">Weitere Kenntnisse:</p>
  <p class="tag-info">Klavierspielen, Volleyball, Skifahren, Rollschuhlaufen</p>
</div>
