<div class="education-card steckbrief-card card">
  <h4>Aus- und Weiterbildung</h4>

  <p class="tag">Grundausbildung:</p>
  <p class="tag-info">Dreijährige Schauspiel-, Gesangs- und Tanzausbildung an der Abraxas Musical Akademie in München (Abschluss mit Auszeichnung 2005) </p>

  <p class="tag">Weiterbildung Schauspiel</p>
  <li class="tag-info">
    William Esper Studio (New York, 2014), Summer Intensive Workshop (6 Wochen «Meisner-Technik»)
  </li>
  <li class="tag-info">
    Camera Acting bei Linda und David Laundra (New York, 2014)
  </li>

  <p class="tag">Weiterbildung Gesang</p>
  <li class="tag-info">
    Gesangsunterricht bei Richard Lissemore (USA)
  </li>
  <li class="tag-info">
    Masterclass bei Paul Graham Brown (München)
  </li>
  <li class="tag-info">
    Masterclass bei Richard Lissemore (New York)
  </li>

  <p class="tag">Weiterbildung Tanz</p>
  <li class="tag-info">
    Broadway Dance Center, New York (Ballet, Step, Theatre Dance)
  </li>
  <li class="tag-info">
    Offene Ballettklasse am Opernhaus Zürich
  </li>
  <li class="tag-info">
    Step-Unterricht bei Claudia Lex (München)
  </li>
</div>
