<footer class="fixed-bottom footer-options">
    <p class="footer-options-leaf"><%= link_to "Steckbrief", steckbrief_path %></p>
    <%= image_tag("star_sign.png", class: "rotate", height: "15px") %>
    <p class="footer-options-leaf"><%= link_to "Kontakt", kontakt_path %></p>
</footer>
