<div class="container-home">
    <div class="description">
      <p>
        Willkommen auf meiner neuen Homepage. Falls Sie mich kontaktieren möchten, klicken sie <%= link_to 'hier', kontakt_path %>.
      </p>
    </div>
    <div class="main-foto">
      <%= image_tag("home-pic.png", class: "lp-pic") %>
    </div>
</div>
