<div class="container">
  <%= render 'shared/as-actor-kommende' %>
  <div class="container-schauspieler">
    <div class="side-pic">
      <%= image_tag("pic3.jpg", class: "actor-pic") %>
    </div>

    <div class="actor-list">
      <%= render 'shared/schauspieler-card' %>
    </div>
  </div>
</div>
