.container-kontakt {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100vh;
  height: 90%;
  margin: 0 auto;
  .description {
    text-align: right;
    margin: 0;
    font-size: 0.8rem;
  }
  .info-kontakt {
      margin: 0;
      font-size: 0.8rem;
      align-self: end;
  }
  .main-foto {
    transition: all 800ms ease;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    .kontakt-pic {
      border-radius: 5px;
      width: 100%;
      margin: 0 auto;
    }
  }
}

@media (max-width: 800px) {
  .container-kontakt {
    display: flex;
    flex-direction: column;
    width: 85%;
  }
}
